.center{
    width: 1316px;
    margin: 0 auto;
   
}
.header{
    height: 100px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: #fff;
}
.logo{
   
    padding-top: 33px;
    float: left;
    height: 100px;
    background: #fff;
    text-align: center;
    box-sizing: border-box;
    /* float: left; */
}
.right-box{
    width: 400px;
    float: right;
    box-sizing: border-box;
}
.navbar{
    height: 30px;
    line-height: 30px;
    margin-top: 30px;
    margin-right: 25px;
    font-size: 16px;
}
.navbar input{
    /* float: right; */
    margin-top: 32px;
    width: 200px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    outline: none;
    resize: none;
    border: none;
    background: none;
    border-bottom: 1px solid black;
}
.navbar button{
    font-size: 16px;
    color: black;
    font-weight: bold;
    outline: none;
    resize: none;
    border: none;
    background: none;
    margin-top: 37px;
}
.navbar-list{
    display: inline-block;
    display: flex;
    justify-content: flex-end;
}
.navbar-list>li{
    font-size: 14px;
    padding: 0 2px;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    cursor: pointer;
}
.navbar-lock .icon-cart{
    display: block;
    padding-top: 10px;
    width: 16px;
    height: 16px;
    background: url(../img/common-pc.png);
    background-position: -3px 2px;
    background-size: 22px;
}

/* middle-banner */
.middle-banner{
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    /* height: 300px; */
}

.middle-banner .leftnav{
    width: 5.6%;
    float: left;
    text-align: center;
}
.middle-banner .nav-content{
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}
.middle-banner .list-group{
    padding-left: 0;
    margin-bottom: 20px;
}
.middle-banner 
.list-group 
.list-group-item{
    position: relative;
    display: block;
    padding: 0;
    margin-bottom: -1px;
    background-color: #fff;
}

.middle-banner 
.list-group-item h4{
    padding: 10px 0;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.middle-banner .list-group-item h4 > a {
    padding: 10px 0;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.sideber-cate .list-group-item:nth-last-of-type(1){
   
    top:0px;
    left: 0;
    border-top: 1px solid #9a9a9a;
}

.middle-banner .sidebar-refer{
    margin-top: 80px;
    margin-bottom: 50px;
}

.sidebar-refer .list-group-item h4 a {
    padding: 8px 0;
    font-size: 12px;
    color: #000;
    font-weight: normal;
}

.sidebar-refer .list-group-item h4 {
    padding: 8px 0;
    font-size: 12px;
    color: #000;
    font-weight: normal;
}
/* 轮播图 */
/* .middle-banner .rotation-chart{  
    width: 87.4%;
    margin-left: 15.6%;
}
.rotation-chart img{
    width: 100%;
}

.swiper-container{
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}
.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
} */
.leftnav .cat2-list{
    height: auto;
    transition: all ease-in .5s;
    overflow: hidden;
    display: none;
}
.leftnav .cat2-list a{
    color: #000;
    font-size: 14px;
    line-height: 30px;
}
.list-group-item:hover .cat2-list{
    display: block;
}

/* 商品列表 */
.rightnav{
    width: 86.4%;
    margin-left: 13.6%;
}
.list-body {
    padding-right: 20px;
    padding-left: 10px;
}
.clearfix:before {
    content: "";
    display: table;
}
.fl {
    float: left;
}
.list-top-1{
    display: inline-block;
}
.list-top-1 .cate-title {
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    
}
.list-top-1 .cate-title span {
    margin-left: 5px;
    font-style: normal;
    font-size: 15px;
    color: #999;
    font-weight: 400;
    vertical-align: baseline;
}
.list-top-r{
    text-align: right;
}
.fr{
    float: right;
}
.list-top-r>div.result-count {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
}
.list-top-r>div {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
    height: 40px;
}
.list-top-r>div.selector-open {
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.list-top-r .price {
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.result-tags{
    width: 100%;
}
.result-tags>a {
    margin-top: 5px;
    margin-right: 6px;
    font-size: 13px;
    color: #888;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    position: relative;
    padding-right: 15px;
    padding-left: 4px;
}
/* 商品列表 */
.goodsList {
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 50px;
}
.thumbnail {
    box-sizing: border-box;
    width: 302px;
    height: 354px;
    margin: 10px;
    position: relative;
    float: left;
    border: 1px solid rgb(226, 222, 222);
   
}
.goodsList li:hover{
    box-shadow: 0px 0px 10px #999;
}
.caption {
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 250px;
    left: 0;
    transition: .2s;
    -webkit-transition: .2s;
    /* -moz-transition: .2s; */
}
.caption h3{
    width: 272px;
    width: value;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;

}





.thumbnail .price {
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
.text-danger {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.caption a{
    background-color: #232345;
    padding: 8px 20px;
    color: blanchedalmond;
    font-size: 12px;
    text-align: center;
    display: none;
}
.goodsList:hover a{
    display: inline-block;
}

/* .loading{
    border: 2px solid red;
    width: 200px;
    height: 100px;
    margin: auto;
}
.loading img{
    width: 100%;
} */
/* 分页 */

.pagination{
    margin-bottom: 70px;
    width: 400px;
   
    display: flex;
   
    align-items: center;
}


